$ cat .gitignore
    
.tmp
bower_components
node_modules
target
node
src/main/webapp/env
src/main/webapp/fonts
src/main/webapp/images
src/main/webapp/script
src/main/webapp/style
src/main/webapp/index.html