<div class="search-box">
    <div class="search-text">
        <input type="text" class="form-control input-lg" autofocus ng-change="search.change()" ng-model="search.value" ng-blur="search.focus = false;" ng-focus="search.focus = true"/>
        <i class="glyphicon glyphicon-search"></i>
    </div>
    <div class="search-result" ng-if="search.data.length > 0 && search.value != '' && search.focus">
        <ul>
            <li ng-repeat="item in search.data">{{item.name}}</li>
        </ul>
    </div>
</div>