@import 'config';
@import 'mixins';
body,
html {
    margin: 0px;
    padding: 0px;
}

body {
    background: $body-background;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

* {
    font-family: OpenSansRegular;
}