@import 'config';
@import 'mixins';
body,
html {
    margin: 0px;
    padding: 0px;
}

body {
    background: $body-background;
}

.custom-container {
    padding: 20px;
}

.app {
    width: 100%;
    .header {
        width: 100%;
        display: inline-block;
        .row-desktop {
            display: block;
            .menu {
                i {
                    color: #000;
                    font-size: 20px;
                }
            }
        }
        .row-mobile {
            display: none;
            .menu {
                i {
                    color: #000;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 359px) and (max-device-width: 667px) {
    .app {
        .header {
            .row-desktop {
                display: none;
            }
            .row-mobile {
                display: block;
            }
        }
    }
}