@import 'config';
@import 'mixins';

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

* {
    font-family: OpenSansRegular;
}

.mt-0 {
    margin-top: 0px;
}

.mt-5 {
    margin-top: px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}