.profile {
    width: 100%;
    .profile-icon {
        display: inline-block;
        width: 30px;
        vertical-align: middle;
        i {
            display: none;
        }
        img {
            display: block;
        }
    }
    .profile-menu {
        display: inline-block;
        width: calc(100% - 30px);
        vertical-align: middle;
        > a {
            color: #555;
            font-size: 12px;
            float: right;
            margin: 7px 15px 0 0;
        }
        > p {
            cursor: pointer;
            float: right;
            font-size: 12px;
            margin: 5px 0 0 0;
            i {
                font-size: 11px;
                margin: 5px;
            }
        }
        > ul {
            li {
                a {
                    font-size: 12px;
                    padding: 3px 10px;
                }
            }
        }
    }
}


@media only screen and (min-device-width: 359px) and (max-device-width: 667px){
    .profile {
        .profile-icon {
            img {
                display: none;
            }
            i {
                display: block;
            }
        }
        .profile-menu {
            > a {
                margin: 0;
            }
            > p {
                margin: 0;
                > i {
                    margin: 2px 0 0 3px;
                }
            }
        }
    }
}