.side-pane {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    .side-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        -webkit-animation: sideoverlay 350ms ease;
        -moz-animation: sideoverlay 350ms ease;
        animation: sideoverlay 350ms ease;
        z-index: 2;
    }
    .side-bar {
        position: absolute;
        z-index: 3;
        width: 300px;
        height: 100%;
        background: #fff;
        left: 0;
        box-shadow: 0 0 30px rgba(0,0,0,0.6);
        -webkit-animation: sidebarshow 350ms ease;
        -moz-animation: sidebarshow 350ms ease;
        animation: sidebarshow 350ms ease;
        .side-header {
            display: inline-block;
            width: 100%;
            a {
                float: right;
                margin: 15px;
                img {

                }
            }
        }
        .side-body {
            .logo {
                text-align: center;
            }
        }
    }
}

@keyframes sideoverlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes sidebarshow {
    0% {
        left:-300px;
    }
    100% {
        left:0px
    }
}