<div class="side-pane">
    <div class="side-overlay"></div>
    <div class="side-bar">
        <div class="side-header">
            <a href="#">
                <img src="images/close.png" width="30" ng-click="pane.onClose()" />
            </a>
        </div>
        <div class="side-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="logo">
                        <img src="images/searcin-logo.png" />
                    </div>
                </div>
            </div>
            <div class="row mt-15">
                <div class="col-xs-12">
                    <ul class="menu list-group">
                        <li class="list-group-item"><a href="#">Categories</a></li>
                        <li class="list-group-item"><a href="#">Services</a></li>
                        <li class="list-group-item"><a href="#">Areas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>