<div class="categories" ng-init="admin.getCategories()">
    <div class="row">
        <div class="col-sm-12">
            <uib-tabset active="">
                <uib-tab index="0" heading="Available" ng-click="admin.getCategories()">
                    <div class="admin-container">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in admin.data.categories">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Add">
                    <div class="admin-container">
                        <form class="form" name="categories">
                            <label>Category Name:</label>
                            <input type="text" class="form-control" ng-model="admin.data.name" /><br>
                            <button class="btn btn-primary" type="submit" ng-click="admin.addCategory()" ng-disabled="!admin.data.name">Add</button>
                        </form>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Edit/Delete">
                    <div class="admin-container">
                        <form class="form" name="categories">
                            <label>Select Category:</label>
                            <select class="form-control" ng-options="item as item.name for item in admin.data.categories" ng-model="admin.data.category">
                                </select>
                                <hr>
                            <input type="text" class="form-control" ng-model="admin.data.category.name"/><br>
                            <button class="btn btn-primary" type="submit" ng-click="admin.updateCategory()" ng-disabled="!admin.data.category">Update</button>
                            <button class="btn btn-primary" type="submit" ng-click="admin.deleteCategory()" ng-disabled="!admin.data.category">Delete</button>
                        </form>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

    </div>
</div>