<div class="sub-categories" ng-init="admin.getCategories()">
    <div class="row">
        <div class="col-md-12">
            <label>Select Category:</label>
            <select name="categories" ng-model="admin.data.categoryId" class="form-control" ng-change="admin.getSubCategories()">
                <option ng-repeat="option in admin.data.categories" value="{{option.id}}">{{option.name}}</option>
            </select>
            <uib-tabset active="" class="mt-20">
                <uib-tab index="0" heading="Available" ng-click="admin.getSubCategories()">
                    <div class="admin-container">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in admin.data.subcategories">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Add">
                    <div class="admin-container">
                        <form class="form mt-20" name="subcategories">
                            <label>Sub Category Name:</label>
                            <input type="text" class="form-control" ng-model="admin.data.name" /><br>
                            <button class="btn btn-primary" type="submit" ng-click="admin.saveSubCategory()" ng-disabled="!admin.data.name">Add</button>
                        </form>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Edit/Delete">
                    <div class="admin-container">
                        <form class="form mt-20" name="categories">
                            <label>Select Sub Category:</label>
                            <select class="form-control" ng-options="item as item.name for item in admin.data.subcategories" ng-model="admin.data.subcategory">
                                </select>
                            <hr>
                            <input type="text" class="form-control" ng-model="admin.data.subcategory.name" /><br>
                            <button class="btn btn-primary" type="submit" ng-click="admin.updateSubCategory()" ng-disabled="!admin.data.subcategory">Update</button>
                            <button class="btn btn-primary" type="submit" ng-click="admin.deleteSubCategory()" ng-disabled="!admin.data.subcategory">Delete</button>
                        </form>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>